<?xml version='1.0'?>

<sistema>
	
	<!-- ejemplo Aberle
		Sólo kal en conexión out (1)
		-->
	
	<!--
	<plc 	name='PLC1' 
			protocolo = 'aberle' 
			sender = 'TSC2' 
			receiver = 'MFCS'>
			
		<port 	name ='in' 
				port ='5001' 
				kal = '0' 
				kal.time = '15'
				version = ''
				isoOnTCP = '0'
				/>
				
		<port 	name ='out' 
				port ='5000' 
				kal = '1' 
				kal.time = '15'
				version = ''
				isoOnTCP = '0'
				/>
	</plc>
	-->
	<!-- ejemplo Durkopp-->
	
	<!--
	<plc 	name='PLC001' 
			protocolo = 'durkopp' 
			sender = 'HIS' 
			receiver = 'WCS'>
			
		<port 	name ='high' 
				port ='3501' 
				kal = '0' 
				kal.time = '30'
				version = '10'
				isoOnTCP = '0'
				/>
				
		<port 	name ='low' 
				port ='3502' 
				kal = '0' 
				kal.time = '30'
				version = '10'
				isoOnTCP = '0'
				/>
	</plc>
	-->

	<!-- ejemplo Commander-->

	<plc 	name='PLCF01a' 
			protocolo = 'commander' 
			sender = 'F01a' 
			receiver = 'MFCS'>
			
		<port 	name ='port' 
				port ='2101' 
				kal = '0' 
				kal.time = '9'
				isoOnTCP = '1'
				version = ''
				/>
	</plc>

</sistema>
